body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#login {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

input[type="text"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    font-size: 16px;
    cursor: pointer;
    color: white;
}

#botonValidar, #botonTirar {
    background-color: #4CAF50;
}

#botonJugar {
    background-color: #2196F3;
}

#botonNuevaPartida{
    background-color: #2196F3;
}

button:disabled {
    background-color: grey;
    opacity: 0.5;
    cursor: not-allowed;
}

#mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contenedorJuego {
    display: flex;
    gap: 20px; /* Espacio entre el tablero y el botón */
    margin-top: 20px;
}

#contenedorBotonNuevaPartida{
    margin: 20px;
}

#tablero {
    border-collapse: collapse;
    width: 500px; /* Fijar el tamaño del tablero */
    height: 500px; /* Fijar el tamaño del tablero */
}

#tablero td {
    width: 50px;  /* Cada celda será de 50x50px */
    height: 50px;
    border: 1px solid #444;
    text-align: center;
    background-color: #A9A9A9; /* Color base de piedra */
    background-image: linear-gradient(135deg, #B0B0B0 25%, transparent 25%, transparent 50%, #B0B0B0 50%, #B0B0B0 75%, transparent 75%, transparent);
    background-size: 20px 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;
}

#tablero td img{
    width: 100%;   
    height: 100%;  
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#contenedorDado {
    align-self: flex-end; /* Coloca el botón en la parte inferior del contenedor */
    padding: 10px 20px;
    width: 100px; /* Tamaño fijo para el contenedor */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra la imagen dentro del contenedor */
}

#botonTirar {
    align-self: flex-end; /* Coloca el botón en la parte inferior del contenedor */
    padding: 10px 20px;
    width: 100px; /* Tamaño fijo del botón */
    margin-top: 30px;
}

#contenedorDado img {
    width: 100%;  /* La imagen ocupa el 100% del contenedor */
    height: 100%; /* La imagen ocupa el 100% del contenedor */
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
}

#tablero .celdaResaltada{
    background-color: green;
}

#contenedorMensaje{
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}