body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#pantallaLogin, #pantallaJuego {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#pantallaLogin {
    text-align: center;
    width: 300px;
}

#pantallaJuego {
    display: none;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
}

#contenedorJuego {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 20px;
    width: 100%;
}

#tablero {
    background: url("./img/cueva.png") center/cover no-repeat;
    border-collapse: collapse;
    width: 500px;
    height: 500px;
}

#tablero td {
    width: auto;
    height: auto;
    aspect-ratio: 1;
    border: 1px solid #444;
    text-align: center;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;
}

#tablero td:hover {
    background: linear-gradient(135deg, rgba(43, 39, 39, 0.4) 100%, transparent 70%);
    z-index: 2;
}

#tablero td img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="text"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: #2196F3;
}

#botonValidar, #botonTirar, #botonRanking {
    background-color: #4CAF50;
}
#botonRanking {
    margin-left: 10px;
}

button:disabled {
    background-color: grey;
    opacity: 0.5;
    cursor: not-allowed;
}

#mapa, #contenedorDado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#contenedorDado {
    flex-direction: row;
    gap: 10px;
    width: 120px;
}

#contenedorDado img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#contenedorMensaje {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

#contenedorFinJuego {
    display: none;
}

#tablero .celdaResaltada {
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.3) 50%, transparent 70%);
    z-index: 1;
}

#tablero .celdaResaltada:hover {
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.3) 100%, transparent 70%);
    z-index: 3;
}

#ranking {
    width: 100%;
    max-width: 400px;
    border-collapse: collapse;
    text-align: left;
}

#ranking th, #ranking td {
    padding: 10px;
  border: 1px solid #ddd;
}

#ranking th {
    font-weight: bold;
    background-color: #f2f2f2;
  }